[Unit]
Description=Poll software factory issues for %i every 15 minutes

[Timer]
OnCalendar=*-*-* *:00/15:00
Persistent=true
Unit=factory-poll@%i.service

[Install]
WantedBy=timers.target
